
.backgroundContainer {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainContainer {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .MainContainer {
    padding: 20px;
  }
}

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputContainer input[type="text"],
.inputContainer input[type="number"],
.inputContainer textarea,
.inputContainer select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin: 1px;
}

.inputContainer input[type="file"] {
  padding: 10px 0;
}

.inputContainer input[type="text"]:focus,
.inputContainer input[type="number"]:focus,
.inputContainer textarea:focus,
.inputContainer select:focus {
  border-color: #007bff;
}

.errorMessage {
  color: #b40e0e;
  font-size: 12px;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.inputContainer select {
  appearance: none;
  
  padding-right: 30px; /* Adjust padding to accommodate the icon */
}