.sidebar {
    height: 100%;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7386D5;
    padding-top: 0;
    color: white;
    transition: all 0.3s;
  }
  
  .sidebar h2 {
    text-align: center;
    padding: 1vw;
    background: #6d7fcc;
    font-size: 2.5vw;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    font-size: 1.5vw;
  }
  
  .sidebar li:hover {
    color: #7386D5;
    background: #fff;
  }